*{
    margin:0px;
    padding:0px;
}
header{
    display:flex;
    z-index:30;
    background-image: -webkit-linear-gradient(left,magenta,purple,pink);
    padding:10px;
    border-left: yellow solid 4px;
    border-right: yellow solid 4px;
    border-top:yellow solid 4px;
}
.title{
    font-style: italic;
    font-size: large;
    font-display: flex;
}
html {
    margin: 0px;
    z-index:-1;

}
main{
    min-height : 600px;
    margin: 0px;
    border-color : yellow;
    border-left: yellow solid 4px;
    border-right: yellow solid 4px;
    border-bottom: yellow solid 4px;
    border-top:yellow solid 4px;
    background-color: lightblue;
}
footer {
    background-color: white;
    padding: 20px;
    font-size: 34px;
}
img#lov {
    display: flex;
    top:4px;
    left:4px;
    height:20%;
    width:10%;
    z-index:111111;
}